:root {
  --bg-color: #446491;
  --bg-secondary-color: #4b89ac;
  --bg-third-color: #ace6f6;
  --text-color: #e4fcf9;
}

body {
  margin: 0;
  font-family: "Heebo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--text-color);
}

/*  navigation */

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0%;
  overflow: hidden;
  background-color: var(--bg-secondary-color);
}
li {
  float: right;
  margin: 0;
  padding: 14px 40px;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.logo {
  margin: 0;
  padding: 0;
  text-align: center;
}
h1 {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.link {
  padding-top: 37.6px;
  padding-bottom: 37.6px;
  transition-duration: 0.5s;
  text-align: center;
}

.link:hover {
  background: var(--bg-third-color);
  transition-duration: 0.5s;
}

@media screen and (max-width: 1050px) {
  li {
    float: none;
  }
  .f {
    float: none;
    text-align: center;
  }
}